@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

body {
	padding-left: 10px;
	font-family: 'NerdFont', monospace;
	font-weight: bold;
	font-style: normal;
	background-repeat: no-repeat;
	background-size: cover;
}

button {
	padding: 10px 20px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	margin: 10px 10px 10px 10px;
	border-radius: 3px;
	font-family: 'NerdFont', monospace;
	font-weight: bold;
	font-style: normal;
	transition: transform 0.1s ease-in-out;
}

button:hover.move_left {
	transform: translateX(-40px);
}

button:hover.move_right {
	transform: translateX(40px);
}

button:hover.move_up {
	transform: translateY(-15px);
}

button:hover.move_down {
	transform: translateY(15px);
}

.title_buttons {
	position: fixed;
	top: 0.5%;
	left: 0px;
	width: 99.5%;
	z-index: 9999;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
}

p {
	font-size: 20px;
	max-width: 800px;
	padding-left: 26px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 3px;
	font-family: 'NerdFont', monospace;
	text-align: center;
}

p.about_me {
	max-width: 43.45%;
}

.hide_me {
	display: none;
	visibility: hidden;
}

.welcome {
	margin-left: -18px;
	margin-right: -8px;
	margin-top: -8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
