body {
	background-image: url("background-dark.png");
	background-color: #212121;
	color: #ebdbb2;
}

button {
	background-color: #da6e19;
	color: #212121;
	border-bottom: 8px solid #c75e02;
}

button:hover {
	background-color: #f68633;
	border-bottom: 8px solid #e37522;
}

p {
	background-color: #303030;
	border-bottom: 8px solid #282828;
}

.welcome {
	background-color: #3b3b3b;
	border-bottom: 8px solid #323232;
}
