body {
	background-image: url("background-light.png");
	background-color: #eeeeee;
	color: #212121;
}

button {
	background-color: #da6e19;
	color: #212121;
	border-bottom: 8px solid #c75e02;
}

button:hover {
	background-color: #f68633;
	border-bottom: 8px solid #e37522;
}

p {
	background-color: #c0c0c0;
	border-bottom: 8px solid #b0b0b0;
}

.welcome {
	background-color: #d9d9d9;
	border-bottom: 8px solid #c9c9c9;
}
